# Data Collection y Data Cleaning de Features y target

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

Cargar datos

In [28]:

data=pd.read_excel("/Users/frtm/code/frtm29/EasyDolar/raw_data/data.xlsx")

In [29]:
data.head()

         date   close    open  maximo  minimo variacion
0  15.12.2023  870.26  865.58  876.25  865.50    0,63 %
1  14.12.2023  864.78  870.80  871.17  862.47   -0,60 %
2  13.12.2023  870.00  875.05  879.75  869.43   -0,49 %
3  12.12.2023  874.25  881.83  885.17  873.73   -0,75 %
4  11.12.2023  880.83  871.35  885.89  870.25    1,21 %

Arreglar como viene variación

In [30]:
data['variacion'] = data['variacion'].str.rstrip('%').str.replace(',', '.').astype('float') / 100.0

Elegir las fechas como ínidce

In [32]:
# Convertir la columna "date" a formato de fecha
data['date'] = pd.to_datetime(data['date'], format='%d.%m.%Y')

# Establecer la columna "date" como índice
data.set_index('date', inplace=True)

In [33]:
# Ordenar el DataFrame por fechas de forma ascendente
data.sort_index(inplace=True)

In [39]:
#Target es nuestro valor a predecir
data["target"]=data["close"].shift(-1)

In [52]:
data.head(10)

             close    open  maximo  minimo  variacion  target
date
2000-01-03  527.85  527.80  528.00  525.90    -0.0036  529.05
2000-01-04  529.05  528.50  529.75  528.20     0.0023  529.25
2000-01-05  529.25  531.50  531.65  529.00     0.0004  526.35
2000-01-06  526.35  529.30  529.70  526.10    -0.0055  522.25
2000-01-07  522.25  523.80  524.75  521.30    -0.0078  519.85
2000-01-10  519.85  521.80  522.40  519.50    -0.0046  521.75
2000-01-11  521.75  518.35  522.35  517.40     0.0037  519.85
2000-01-12  519.85  521.70  523.60  519.20    -0.0036  516.65
2000-01-13  516.65  518.50  518.75  515.30    -0.0062  515.85
2000-01-14  515.85  515.20  517.65  513.95    -0.0015  512.25